<%- include("header"); %>

<h1>Skapa inlägg</h1>

<form method="post">
    <input type="text" name="title" placeholder="Titel"><br><br>

    <textarea name="body" rows="8" cols="80"></textarea><br><br>

    <% for (const row of categories) { %>
        <label><input type="checkbox"
            name="category[<%= row.id %>]"
            value="<%= row.category %>"> <%= row.category %></label>
        <br>
    <% }; %>

    <input type="submit" name="doit" value="Skapa inlägg">
</form>

<%- include("footer"); %>
